version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: honeycombio/cci-go-yq:0.0.8
    steps:
      - checkout
      - restore_cache:
          keys:
            - builder-config-{{ checksum "builder-config.yaml" }}
      - run:
          name: Run tests
          command: make test
      - run:
          name: Create artifacts
          command: |
            mkdir -p /tmp/images;
            cp build/otelcol_hny_$(go env GOOS)_$(go env GOARCH) /tmp/images;
      - save_cache:
          key: builder-config-{{ checksum "builder-config.yaml" }}
          paths: build
      - store_artifacts:
          path: /tmp/images
